
.boton {

padding-bottom: 5%;
width: 100%;
display: inline-block;

}

.tabla {

    text-align: center;

}

.texto {

    color: white;

}

.buscar {

    padding-left: 15%;
    padding-right: 15%;

}

.portada {

    display: inline-block;

}

.file-image {

    color: white;

}

