.pelicula {

    text-align: center;

}

.titulo {

    margin: 0px auto;

    color: white;

    width: 50%;

}

.tabla {

    text-align: center;

}

.texto {

    color: white;

}

.buscar {

    padding-left: 10%;
    padding-right: 10%;

}

